<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello-backbonejs</title>

    <link rel="stylesheet" href="css/base.css"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>-->
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>-->
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js"></script>-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>-->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/json2/json2.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>

    <script src="js/main.js" type="text/javascript"></script>

</head>
<body>

<h2>Список задач</h2>

<form action="" id="add-task">
    <input type="text" placeholder="Новая задача"/>
    <input type="submit" value="Добавить задачу"/>
</form>

<div class="tasks">
    <!--Here will be ours tasks-->
</div>
<script type="text/template" id="taskTmp">
    <span><%= title %></span>
    <button class="btn-edit">Edit</button>
    <button class="btn-delete">Delete</button>
</script>


</body>


</html>